<div id="tool-header" class="show-header">
  <div class="content">
    <h2><% if @tool.has_favicon? %><img src="<%= @tool.full_favicon_url %>" class="favicon" /><% end %><%= @tool.name %></h2>
    <ul class="count">
      <li class="sites"><%= link_to pluralize(@tool.sites_count, "site"), @tool %></li>
      <li class="links"><%= link_to pluralize(@tool.bookmarks_count, "bookmark"), @tool %></li>
    </ul>
    
    <%= content_tag(:p, @tool.description) unless @tool.description.blank? %>
    <%= content_tag(:p, link_to(@tool.url, @tool.url, :target => "_blank", :rel => "nofollow")) unless @tool.url.blank? %>

    <ul class="mini-categories">
      <%= raw tool_categories(@tool, params[:format]) %>
    </ul>
  </div>
</div>

<ul class="tabs">
  <li class="tools-show tool_sites-index"><%= link_to "Sites", tool_path(@tool, :format => params[:format]) %></li> 
  <% if @tool.bookmarks_count > 0 %><li class="tools-bookmarks"><a href="<%= bookmarks_tool_path(@tool, :format => params[:format]) %>" class="bookmarks">Bookmarks</a></li><% end %>
  <% if logged_in? %>
    <% if current_user.can_edit_tool?(@tool) %>
      <li class="right tools-edit"><%= link_to "Edit", edit_tool_path(@tool, :format => params[:format]) %></li> 
    <% else %>
      <!-- <li class="right tools-edit"><a href="#">Claim</a></li> -->
    <% end %>
  <% end %>
  <li class="right tool_sites-manage"><%= link_to "Add sites", manage_tool_sites_path(@tool, :format => params[:format]) %></li> 
</ul>