<div class="tool group ind">
  <div class="details">
    <div class="title">
      <h4><% if @tool.favicon? %><a href="<%=@tool.url%>" rel="nofollow" class="favicon"><img src="<%= @tool.favicon_url %>" /></a><% end %><%= link_to @tool.name, @tool.url, :target => "_blank", :rel => "nofollow" %></h4>
      <ul class="count">
        <li class="sites"><%= link_to pluralize(@tool.sites_count, "site"), @tool %></li>
        <li class="links"><%= link_to pluralize(0, "article"), @tool %></li>
      </ul>
      <%= content_tag(:p, @tool.description) unless @tool.description.blank? %>
      <%= content_tag(:p, link_to(@tool.url, @tool.url, :target => "_blank", :rel => "nofollow")) unless @tool.url.blank? %>
    </div>
  
    <div class="content">
      <ul class="categories">
        <%= raw tool_categories(@tool) %>
      </ul>
    </div>
  </div>
</div>