<section class="tab">
  <% if @tool.sites_count > 0 %>
  <div class="title_bar group">
    <h3><%= @tool.name %> is used on <%= pluralize(@tool.sites_count, "site") %></h3>
    <div id="sorting">
      <p>Sorting by <%= sorting_name(params[:sort]) %> <a href="#" class="change_sorting"></a></p>
      <ul class="options" style="display:none;">
        <li><%= link_to "Sort by Alexa Rank", tool_sites_path(@tool, :sort => :alexa_asc) %></li>
        <li><%= link_to "Sort by Google PageRank", tool_sites_path(@tool, :sort => :google_desc) %></li>
        <li><%= link_to "Sort by Site Name", tool_sites_path(@tool, :sort => :sitename_asc) %></li>
        <li><%= link_to "Sort by Number of Tools", tool_sites_path(@tool, :sort => :tools_desc) %></li>
      </ul>
    </div>
  </div>
  <ul class="usings sites">
    <%= render :partial => 'usings/using_site', :collection => sites %>
  </ul>
  <%= will_paginate sites %>
  <% else %>
    <p>We don't know of any sites using <%= @tool.name %></p>
  <% end %>
</section>