<% cache(["partial", tool], :expires_in => 15.minutes) do %>
<li class="tool group ind">
  <div class="details">
    <div class="title">
      <h4><% if tool.has_favicon? %><a href="<%= tool_path(tool) %>" class="favicon"><img src="<%= tool.full_favicon_url %>" /></a><% end %><%= link_to tool.name, tool %></h4>
      <ul class="count">
        <li class="sites"><a href="<%= tool_path(tool) %>"><em><%= tool.sites_count %></em> sites</a></li>
        <li class="links"><a href="<%= tool_bookmarks_path(tool) %>"><em><%= tool.articles_count %></em>articles</a></li>
      </ul>
      <% if !tool.description.blank? %><p><%= truncate(tool.description, :length => 140) %></p><% end %>
    </div>
  
    <div class="content group">
      <ul class="sites">
        <%= raw tool_sites(tool) %>
        <% if tool.sites_count > 2 %>
          <li><%= link_to "#{pluralize(tool.sites_count-2, 'more site')}", tool %></li>
        <% end %>
      </ul>
  
      <ul class="categories">
        <%= raw tool_categories(tool) %>
      </ul>
    </div>
  </div>
</li>
<% end %>