<% cache(["partial", tool], :expires_in => 15.minutes) do %>
<li class="tool group ind">
  <div class="details">
    <div class="title">
      <h4><%= link_to tool.name, tool %></h4>
      <ul class="count">
        <%= raw tool_sites_count(tool) %>
        <%= raw tool_articles_count(tool) %>
      </ul>
      <%= content_tag(:p, truncate(tool.description, :length => 140)) unless tool.description.blank? %>
    </div>
  
    <div class="content">
      <% if tool.sites_count > 0 %>
        <ul class="sites">
          <%= raw tool_sites(tool) %>
          <% if tool.sites_count > 2 %>
            <li><%= link_to "#{pluralize(tool.sites_count-2, 'more site')}", tool %></li>
          <% end %>
        </ul>
      <% end %>
  
      <ul class="categories">
        <%= raw tool_categories(tool) %>
      </ul>
    </div>
  </div>
</li>
<% end %>