<% title "List of sites using #{@tool.name}" %>

<section id="content" class="main tool">
  <% cache(["full", @tool], :expires_in => 15.minutes) do %>
    <%= render 'header' %>
  <% end %>
  
  <ul class="tabs">
    <li><a href="<%= tool_path(@tool) %>" class="sites">Sites</a></li> 
    <li class="current"><a href="<%= articles_tool_path(@tool) %>" class="articles">Articles</a></li>
    <% if @tool.jobs_count > 0 %><li><a href="#" class="jobs">Jobs</a></li><% end %>
    <% if @tool.books_count > 0 %><li><a href="#" class="books">Books</a></li><% end %>    
  </ul>
  
  <section class="tab">
    <% if @tool.articles_count > 0 %>
    <div class="title_bar group">
      <h3>We know of <strong><%= pluralize(@tool.articles_count, "article") %></strong> on <strong><%= @tool.name %></strong></h3>
    </div>
    <ul class="articles">
      <%= render @tool.articles %>
    </ul>
    <% else %>
      <p>We don't know of any articles mentioning <%= @tool.name %>.</p>
    <% end %>
  </section>

</section>

<sidebar>
  <aside>
    <h3>Admin Options</h3>
    <ul class="lst">
      <li><%= link_to "edit", edit_tool_path(@tool) %></li>
      <li><%= link_to "add sites", new_tool_site_path(@tool) %></li>
      <li><%= link_to "delete", tool_path(@tool), :method => :delete, :confirm => "Are you sure you want to delete this tool?" %></li>
    </ul>
  </aside>
</sidebar>