<% title "Bookmarks about #{@tool.name}" %>

<section id="content" class="main tool">
  <%= render 'header' %>
  <%= render 'nav' %>
    
  <section class="tab">
    <% if @tool.bookmarks_count > 0 %>
    <div class="title_bar group">
      <h3>We know of <strong><%= pluralize(@tool.bookmarks_count, "bookmark") %></strong> featuring <strong><%= @tool.name %></strong></h3>
    </div>
    <ul class="sublist bookmarks usings">
      <%= render @tool.bookmarks %>
    </ul>
    <% else %>
      <p>We don't know of any bookmarks mentioning <%= @tool.name %>.</p>
    <% end %>
  </section>

</section>

<%= render 'show_sidebar' %>