<% title "List of Tools" %>

<section id="content" class="main">
  <div class="title_bar group">
    <h2><%= @title %></h2>
    <div id="sorting">
      <p>Sorting by <%= sorting_name(params[:sort]) %> <a href="#" class="change_sorting"></a></p>
      <ul class="options" style="display:none;">
        <li><a href="<%= tools_path(:sort => :sites_desc) %>">Sort by number of Sites</a></li>
        <li><a href="<%= tools_path(:sort => :toolname_asc) %>">Sort by Tool Name</a></li>
      </ul>
    </div>
  </div>
  <section>
    <ul class="tools">
      <%= render @tools %>
    </ul>
    <%= will_paginate @tools %>
  </section>
</section>

<sidebar>
  <% cache("categories-sidebar", :expires_in => 30.minutes) do %>
  <aside>
    <h3>Categories</h3>
    <ul class="lst">
      <%= render :partial => "categories/category_small", :collection => @categories %>
    </ul>
  </aside>
  <% end %>
  
  <%= render :partial => "tools/featured" %>
  
  
  <aside>
    <h3>Add a Tool</h3>
    <% if logged_in? %>
      <p>Can't find something you use?<br/><%= link_to "Add a Tool", new_tool_path %></p>
      <p>Add a tool from anywhere using this bookmarklet. Drag this to your bookmarks bar.
        <br/>
        <%= link_to "Add Tool to LoT", "javascript:(function(){f='#{new_tool_url(:format => "popup")}?tool[url]='+encodeURIComponent(window.location.href)+'&tool[name]='+encodeURIComponent(document.title);a=function(){if(!window.open(f,'lineofthought-new','location=yes,links=no,scrollbars=yes,toolbar=no,width=700,height=850'))location.href=f};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()" %>
      </p>
    <% else %>
      <p>Logged in users can add their own tools to LineOfThought, or manage the tools used on existing sites.</p>
      <p><%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to get started.</p>
    <% end %>
  </aside>
</sidebar>