<% title @tool.name %>

<section id="content" class="main tool">
  <% cache(["full", @tool]) do %>
    <%= render 'header' %>
  <% end %>
  
  <ul class="tabs">
    <%= menu_link "Sites", tool_path(@tool), { :a_class => 'sites' } %>
    <%= menu_link "Articles", "#", { :a_class => 'articles' } if @tool.articles_count > 0 %>
    <%= menu_link "Jobs", "#", { :a_class => 'jobs' } if @tool.jobs_count > 0 %>
  </ul>
  
  <%= render :partial => "sites", 
             :object => @tool.usings.by_alexa_site.paginate(:page => params[:page] || 1, 
                                                            :per_page => params[:per_page] || 25) %>
</section>

<sidebar>
  <aside>
    <h3>Similar Tools</h3>
    <ul class="lst">
      <li><a href="#"><em>Javascript</em>Prototype</a></li>
      <li><a href="#"><em>Javascript</em>MooTools</a></li>
      <li><a href="#"><em>Javascript</em>YUI</a></li>
    </ul>
  </aside>
  <aside>
    <h3>Admin Options</h3>
    <ul class="lst">
      <li><%= link_to "edit", edit_tool_path(@tool) %></li>
    </ul>
  </aside>
</sidebar>