<li class="bookmark group ind">
  <div class="details">
    <div class="title">
      <h4><%= link_to bookmark.title, bookmark %></h4>
      <%= content_tag(:p, truncate(bookmark.description, :length => 140)) unless bookmark.description.blank? %>
    </div>
  
    <div class="content">
      <% if bookmark.sites_count > 0 %>
        <ul class="sites">
          <%= raw bookmark_sites(bookmark) %>
          <% if bookmark.sites_count > 2 %>
            <li><%= link_to "#{pluralize(bookmark.sites_count-2, 'more sites')}", bookmark %></li>
          <% end %>
        </ul>
      <% end %>
  
      <ul class="categories">
        <%= raw bookmark_tools(bookmark) %>
      </ul>
    </div>
  </div>
</li>