<%= semantic_form_for @bookmark, bookmarks_path, :format => params[:format] do |f| %>
  <%= f.inputs do %>
    <%= f.input :link_id, :as => :hidden %>
    <%= f.input :url, :as => :string, :required => true, :label => "Bookmark URL" %>
    <%= f.input :title, :as => :string, :required => true, :label => "Site Title" %>
    <%= f.input :description, :as => :text, :required => false, :label => "Bookmark Description", :input_html => { :rows => 3 } %>
    <%= f.input :is_video, :as => :boolean, :label => "Contains video?" %>
    <%= f.input :is_presentation, :as => :boolean, :label => "Contains presentation?" %>
    
    <%= f.input :tool_ids, :as => :string, :wrapper_html => { :class => "tokeninput row-list" }, :label => "Tools Mentioned", :hint => "Start typing a tool name, or type the complete name.", :input_html => { :name => "bookmark[tool_ids][]" } %>
    <%= f.input :site_ids, :as => :string, :wrapper_html => { :class => "tokeninput inline-tokenlist" }, :label => "Sites Mentioned", :hint => "Start typing a site URL or site name.", :input_html => { :name => "bookmark[site_ids][]" } %>
    
    <div id="new_connection">
      <h3>Relate Sites to Tools</h3>
      <p>This bookmark talks about how <select id="site_connection"></select> is using <select id='tool_connection'></select>.
        <a href="#" id="add_connection">Add</a></p>
      <ul id="connections">
        <% @bookmark.bookmark_connections.each do |connection| %>
          <li class='connection-<%= connection.using.site_id %>-<%= connection.using.tool_id %>'><strong><%= connection.using.site.title %></strong> is using <strong><%= connection.using.tool.name %></strong>
            <input type='hidden' name='bookmark[using_params][][using_id]' value='<%= connection.using_id %>'>
            <a href='#' onclick='$(this).parent().remove();return false;'>remove</a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>

<% javascript do %>
var site_token_options = {
    hintText: "Start typing the a site URL or site name.",
    noResultsText: "No sites found. You can <a href='<%= new_site_path %>' target='_blank'>add a site</a> at anytime.",
    initialValues: <%= raw @bookmark.sites_for_display.to_json %>
};
var tool_token_options = {
    hintText: "Start typing the a tool, language or framework or check out our <a href='#' class='defaultOptions'>popular tools</a>.",
    noResultsText: "No tools found. You can <a href='<%= new_tool_path %>' target='_blank'>add a tool</a> at anytime.",
    defaultOptions: <%= raw Tool.for_autocomplete.to_json %>,
    initialValues: <%= raw @bookmark.tools_for_display.to_json %>
};
$(function() {
  $("#bookmark_tool_ids").tokenInput('<%= autocomplete_tools_path %>', tool_token_options).focus();
  $("#bookmark_site_ids").tokenInput('<%= autocomplete_sites_path %>', site_token_options);
  update_tool_connection();
  update_site_connection();
  
  $("#bookmark_tool_ids_input .token-input-input-token input").blur(function(e){ console.log("tool"); update_tool_connection(); });
  $("#bookmark_site_ids_input .token-input-input-token input").blur(function(e){ console.log("site"); update_site_connection(); });
  
  $("#add_connection").click(function(){
    var source = "<li class='connection-{{site.id}}-{{tool.id}}'><strong>{{site.name}}</strong> is using <strong>{{tool.name}}</strong>." +
                 "<input type='hidden' name='bookmark[using_params][][site_id]' value='{{site.id}}'>" + 
                 "<input type='hidden' name='bookmark[using_params][][tool_id]' value='{{tool.id}}'>" + 
                 " <a href='#' onclick='$(this).parent().remove();return false;'>remove</a></li>";
    var template = Handlebars.compile(source);
    var data = { "tool": { "name": $("#tool_connection option:selected").html(), "id": $("#tool_connection").val() },
                 "site": { "name": $("#site_connection option:selected").html(), "id": $("#site_connection").val()} };
    var result = template(data);
    var identifier = ".connection-"+data["site"]["id"]+"-"+data["tool"]["id"];
    if($(identifier).length > 0) {
      alert("Already added");
    } else {
      $("#connections").append(result);
    }
    return false;
  });
});

function update_tool_connection() {
  var source = "{{#tools}}<option value='{{id}}'>{{name}}</option>{{/tools}}";
  var template = Handlebars.compile(source);

  var ids = $("#bookmark_tool_ids").val().split(",");
  var data = { "tools" : [] };
  $("#bookmark_tool_ids_input li.token-input-token p").each(function(i) {
    data["tools"].push({ "name": $(this).html(), "id": ids[i] });
  });
  var result = template(data);
  $("#tool_connection").html(result);
}

function update_site_connection() {
  var source = "{{#sites}}<option value='{{id}}'>{{name}}</option>{{/sites}}";
  var template = Handlebars.compile(source);

  var ids = $("#bookmark_site_ids").val().split(",");
  var data = { "sites" : [] };
  $("#bookmark_site_ids_input li.token-input-token p").each(function(i) {
    data["sites"].push({ "name": $(this).html(), "id": ids[i] });
  });
  var result = template(data);
  $("#site_connection").html(result);
}
<% end %>