<div id="bookmark-header" class="show-header">
  <div class="content">
    <div class="title">
      <h2><%= @bookmark.title %></h2>
      <%= content_tag(:p, @bookmark.description) unless @bookmark.description.blank? %>
      <%= content_tag(:p, link_to(@bookmark.url, @bookmark.url, :target => "_blank", :rel => "nofollow")) %>
    </div>

    <div class="content tools">
      <ul class="mini-sites">
        <%= raw bookmark_sites(@bookmark, 1000) %>
      </ul>
      <ul class="mini-tools">
        <%= raw bookmark_tools(@bookmark, 1000) %>
      </ul>
    </div>
  </div>
</div>

<ul class="tabs">
  <li class="bookmarks-show"><%= link_to "Comments", bookmark_path(@bookmark) %></li> 
  <% if logged_in? %>
    <li class="right bookmarks-edit"><%= link_to "Edit", edit_bookmark_path(@bookmark) %></li> 
  <% end %>
</ul>