<% title "Bookmark - #{@bookmark.title}" %>

<section id="content" class="main tool">
  <%= render 'header' %>

  <section class="tab">
    <div class="title_bar group">
      <h3><%= raw bookmark_references(@bookmark) %></h3>
    </div>
    <ul class="sublist usings sites tools">
      <%= render :partial => 'usings/using_site', :collection => @bookmark.usings %>
      <%= render :partial => 'usings/using_tool', :collection => @bookmark.usings %>
    </ul>
    
    
    <%= render :partial => 'shared/disqus', :object => "bookmark_#{@bookmark.id}" %>
  </section>
</section>
<%= render 'show_sidebar' %>