<% title "About #{@site.title} using #{@tool.name}" %>
<section id="content" class="main site single-site-tool">
  <%= render 'sites/header' %>

  <section class="tab">
    <ul id="site-tools-list" class="sublist usings sites titleless">
      <%= render :partial => 'usings/using_tool', :object => @using %>
      <% if logged_in? && (@using.versions.count > 0) && current_user.can_edit_using?(@using, @site)%>
      <li class="ind">
        <a href="#" id="see_history">see history</a>
        <div id="site_tool_history" style="display:none;">
          <form action="<%= revert_version_path %>" method="post">
          <table>
            <tr>
              <th>Date</th>
              <th>Editor</th>
              <th>Action</th>
              <th style="text-align:center;">Revert</th>
            </tr>
          <% @using.versions.each do |version| %>
            <% 
              using = version.reify
              user = (using && using.user) ? using.user : (version.whodunnit.nil? ? nil : User.find(version.whodunnit))
            %>
            
            <tr>
              <td><%= version.created_at %></td>
              <td><%= link_to user.username, profile_path(user) if user %></td>
              <td><%= version.event %></td>
              <td style="text-align:center;"><input type="radio" name="id" value="<%= version.id %>" /></td>
            </tr>
            <% if using && !using.description.blank? %>
            <tr>
              <td colspan="4"><p>Description: <em><%= truncate(using.description, :length => 200) %></em></p></td>
            </tr>
            <% end %>
          <% end %>
          </table>
          <p><input type="submit" value="revert" /></p>
          </form>
        </div>
      </li>
      <% end %>
    </ul>
    <p class="main_message">Discuss how <strong><%= @site.title %></strong> is using <strong><%= @tool.name %></strong>.
    <%= render :partial => 'shared/disqus', :object => "site_#{@site.id}_tool_#{@tool.id}" %>
  </section>
</section>

<%= render 'sites/show_sidebar' %>

<% javascript do %>
$(function() {  
  using_tool_autocomplete("/sites/<%=@site.cached_slug%>/tools/autocomplete", "#using");
  edit_in_place();
  $("#see_history").click(function(e){
    $("#site_tool_history").toggle();
    if($("#site_tool_history").is(':visible')) {
      $("#see_history").html("hide history");
    } else {
      $("#see_history").html("see history");
    }
    
  });
});
<% end %>