<% title "About #{@site.title} using #{@tool.name}" %>
<section id="content" class="main site">
  <%= render 'sites/header' %>

  <section class="tab">
    <ul id="site-tools-list" class="sublist usings sites">
      <%= render :partial => 'usings/using_tool', :object => @using %>
    </ul>
    <p class="main_message">Discuss how <strong><%= @site.title %></strong> is using <strong><%= @tool.name %></strong>.
    <%= render :partial => 'shared/disqus', :object => "site_#{@site.id}_tool_#{@tool.id}" %>
  </section>
</section>

<%= render 'sites/show_sidebar' %>

<% javascript do %>
$(function() {  
  using_tool_autocomplete("/sites/<%=@site.cached_slug%>/tools/autocomplete", "#using");
  edit_in_place();
});
<% end %>