<% title "About #{@site.title} using #{@tool.name}" %>
<section id="content" class="main site">
  <% cache(["full", @site]) do %>
    <%= render 'sites/header' %>
  <% end %>
  
  <ul class="tabs">
    <li class="current"><%= link_to "Tools", @site, :class => "sites" %></li>
    <% if @site.articles_count > 0 %>
      <li><a href="<%= articles_site_path(@site)%>" class="articles">Articles</a></li> 
    <% end %>
  </ul>

  <section class="tab">
    <ul class="usings sites">
      <%= render @tool %>
    </ul>

    <%= render :partial => 'shared/disqus', :object => "site_#{@site.id}_tool_#{@tool.id}" %>
  </section>
</section>