<% title "About #{@site.title} using #{@tool.name}" %>
<section id="content" class="main site">
  <% cache(["header", @site]) do %>
    <%= render 'sites/header' %>
  <% end %>
  <%= render 'sites/nav' %>

  <section class="tab">
    <ul id="site-tools-list" class="sublist usings sites">
      <%= render :partial => 'usings/using_tool', :object => @using %>
    </ul>
    <p class="main_message">Discuss how <strong><%= @site.title %></strong> is using <strong><%= @tool.name %></strong>.
    <%= render :partial => 'shared/disqus', :object => "site_#{@site.id}_tool_#{@tool.id}" %>
  </section>
</section>

<% cache(["sidebar", @site]) do %>
  <%= render 'sites/show_sidebar' %>
<% end %>