<% title "Search for #{@search}" %>

<section id="content" class="main">
  <div class="title_bar group">
    <h2><%= @title %></h2>
  </div>
  <section>
    <% if @hits.empty? %>
      <p>There were no matching results for your search.</p>
    <% else %>
      <ul id="sites-list" class="tools sites main-list">
        <%= render @results %>
      </ul>
      <%= will_paginate @hits %>
    <% end %>
  </section>
</section>

<section class="sidebar">
  <aside class="search">
    <form action="<%= search_path %>" method="get">
      <input type="text" name="search" value="<%= params[:search] %>" placeholder="Search this site..." />
      <input type="submit" value="Search" class="small button grey" />
    </form>
  </aside>
  <aside>
    <h3>Add a Site</h3>
    <p class="center">You can add your site before creating an account.</p>
    <p class="center"><%= link_to "Add your site", new_site_path, :class => "button green" %></p>
  </aside>
  
  <%= render :partial => "sites/featured" %>
</section>