<% title "Tools used by #{@site.title}" %>
<section id="content" class="main site">
  <% cache(["header", @site]) do %>
    <%= render 'sites/header' %>
  <% end %>
  <%= render 'sites/nav' %>


  <section class="tab">
    <% if @site.articles_count > 0 %>
    <div class="title_bar group">
      <h3>We know of <strong><%= pluralize(@site.articles_count, "article") %></strong> on <strong><%= @site.title %></strong></h3>
    </div>
    <ul class="articles">
      <%= render @site.articles %>
    </ul>
    <% else %>
      <p>We don't know of any articles mentioning <%= @site.title %>.</p>
    <% end %>
  </section>
</section>

<sidebar>
  <aside class="admin">
    <h3>Admin Options</h3>
    <ul class="lst">
      <li><%= link_to "Edit this Site", edit_site_path(@site) %></li>
      <li><%= link_to "Remove this Site", site_path(@site, :method => :delete) %></li>
      <li><%= link_to "Manage Tools for this Site", edit_site_tools_path(@site) %></li>
    </ul>
  </aside>
</sidebar>