<% title "Change Email or Password" %>

<section id="content" class="main">
  <h2><%= @title %></h2>
  <section>
    <%= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |form| %>
      <%= form.inputs do %>
        <%= form.input :email, :as => :string, :required => true %>
        <%= form.input :password, :as => :password, :required => true %>
        <%= form.input :password_confirmation, :as => :password, :required => true %>
        <%= form.input :current_password, :as => :password %>
        <%= form.commit_button :label => "Update", :button_html => { :class => "right button grey" } %>
      <% end %>
    <% end %>
  </section>
</section>

<%= render 'users/sidebar' %>