<section id="content" class="main">
  <section class="announcement">
    <p class="title">Discover what tools power the sites you visit</p>
    <p>We're an <em>open resource</em> for what runs the web.
      You can <%= link_to "see what tools a site uses", sites_path %>. 
      Fill in what tools other sites are using or <%= link_to "add your own site", new_site_path %> or <%= link_to "tool", new_tool_path %>.</p>
  </section>
    <ul class="sites">
      <%= render @sites %>
    </ul>

    <% cache("home-announcement", :expires_in => 15.minutes) do %>
      <section class="announcement">
        <p>Check out all <%= link_to "#{Site.count} sites", sites_path %> or <%= link_to "#{Tool.count} tools", tools_path %>.</p>
      </section>
    <% end %>
</section>

<sidebar>
  <% cache("top-tools", :expires_in => 15.minutes) do %><%= render :partial => "layouts/sidebar/top_tools" %><% end %>
</sidebar>