<section id="content" class="main">
  <section class="announcement">
    <p class="title">Discover what tools power the sites you visit</p>
    <p>Fill in what tools other sites are using or <%= link_to "add your own site", new_site_path %> or <%= link_to "tool", new_tool_path %>.</p>
  </section>
    <ul class="sites">
      <%= render @sites %>
    </ul>

    <section class="announcement">
      <p>Check out all <%= link_to "#{Site.count} sites", sites_path %> or <%= link_to "#{Tool.count} tools", tools_path %>.</p>
    </section>
</section>

<sidebar>
  <%= render :partial => "tools/featured" %>
</sidebar>