<section id="content" class="main">
  <section class="announcement group">
    <p class="title">Share the line of thought behind your website</p>
    <p class="subtitle">What programming language, framework, database do your websites use?</p>
    
    <div class="feature group">
      <p class="minilink"><%= link_to "see popular sites", sites_path %> or</p>
      <p><%= link_to "Add Your Site Now", new_site_path, :class => "green button center" %></p>
      <p class="subbutton">No account needed</p>
    </div>

  </section>


  <h3>Recently Active Sites</h3>
  <ul id="sites-list" class="sites main-list">
    <%= render @sites %>
  </ul>

  <section class="announcement">
    <p>Check out all <%= link_to "#{Site.count} sites", sites_path %> or <%= link_to "#{Tool.count} tools", tools_path %>.</p>
  </section>
</section>

<section id="sidebar" class="sidebar">
  <aside>
    <h3>Welcome to Line of Thought!</h3>
    <p>If you'd like to know more about Line of Thought, <%= link_to "take a tour", tour_path %>.</p>
    <% if !logged_in? %>
    <p class="invite">We're limiting new sign up while we work things out, but if you'd like an invite, you can <%= link_to "sign up", new_subscription_path %> and we'll let you know.</p>
    <% end %>
  </aside>
  <% if Settings.use_solr %>
  <aside class="search">
    <form action="<%= search_path %>" method="get">
      <input type="text" name="search" value="<%= params[:search] %>" placeholder="Search this site..." />
      <input type="submit" value="Search" class="small button grey" />
    </form>
  </aside>
  <% end %>
  <%= render :partial => "layouts/sidebar/share" %>
  <%= render :partial => "tools/featured" %>
  <%= render :partial => "sites/featured" %>
  <%= render :partial => "usings/recent" %>
</section>