<li class="site group ind">
  <div class="title group">
    <h4><% if using_site.site.has_favicon? %><a href="<%= site_path(using_site.site) %>" class="favicon"><img src="<%= using_site.site.full_favicon_url %>" /></a><% end %><%= link_to using_site.site.title, site_path(using_site.site) %></h4>
    <ul class="mini-tools group">
      <% if using_site.site.tools_count > 0 %>
        <% if using_site.site.tools_count > 2 %>
          <li><%= link_to "#{pluralize(using_site.site.tools_count-2, 'more tool')}", site_path(using_site.site, :format => params[:format]) %></li>
        <% end %>
        <%= raw site_tools(using_site.site, 2, params[:format]) %>
      <% end %>
      <li><%= link_to "comments", site_tool_path(using_site.site, using_site.tool, :format => params[:format]), :class => "comments" %></li>
    </ul>
  </div>
  <% unless using_site.description.blank? %><p><%= using_site.description %></p><% end %>
  <%= raw using_bookmarks(using_site, 2, params[:format]) if using_site.bookmarks_count > 0 %>
</li>