<%
  site = @site || using_site.site
  tool = @tool || using_site.tool
%>
<li class="site group ind">
  <div class="title group">
    <h4><% if site.has_favicon? %><a href="<%= site_path(site) %>" class="favicon"><img src="<%= using_site.site.full_favicon_url %>" /></a><% end %><%= link_to site.title, site_path(site) %></h4>
    <ul class="mini-tools group">
      <% if site.tools_count > 0 %>
        <% if site.tools_count > 2 %>
          <li><%= link_to "#{pluralize(site.tools_count-2, 'more tool')}", site_path(site, :format => params[:format]) %></li>
        <% end %>
        <%= raw site_tools(site, 2, params[:format]) %>
      <% end %>
      <li><%= link_to "comments", site_tool_path(site, tool, :format => params[:format]), :class => "comments" %></li>
    </ul>
  </div>
  <% if using_site.description.blank? %>
    <p class="about"><%= truncate(site.description, :length => 140) %></p>
  <% else %>
    <p><%= using_site.description %></p>
  <% end %>
  <%= raw using_bookmarks(using_site, 2, params[:format]) if using_site.bookmarks_count > 0 %>
</li>