<% cache(["partial-using-tool", using_tool], :expires_in => 15.minutes) do %>
<li class="tool group ind using">
  <div class="details">
    <div class="title">
      <h4><%= link_to using_tool.tool.name, using_tool.tool %></h4>
      <ul class="count">
        <li class="sites"><%= link_to pluralize(using_tool.tool.sites_count, "site"), using_tool.tool %></li>
        <li class="links"><%= link_to pluralize(0, "article"), using_tool.tool %></li>
      </ul>
      <% unless using_tool.description.blank? %><p><%= using_tool.description %></p><% end %>

      <ul class="using">
        <%= raw tool_categories(using_tool.tool) %>
      </ul>
    </div>
  </div>
</li>
<% end %>