<% title "Admin - List Of Subscriptions" %>

<section id="content" class="main">
  <h2><%= @title %></h2>
  <section>
    <%= page_entries_info @subscriptions %>
    
    <table>
      <tr>
        <th>Controls</th>
        <th>Created At</th>
        <th>Email</th>
        <th>Referrer</th>
        <th>URL</th>
      </tr>
      <tbody>
        <% @subscriptions.each do |subscription| %>
          <tr class="<%= 'invited' if !subscription.invite_id.nil? %>">
            <td>
              <% if subscription.invited? %>
                on <%= subscription.invite_sent_at.strftime('%m/%d/%y') %>
              <% else %>
                <%= button_to "invite", invites_path(:id => subscription.id), :method => :post %></td>
              <% end %>
            <td><%= subscription.created_at.strftime('%m/%d/%y') %></td>
            <td><%= subscription.email %></td>
            <td><%= subscription.referrer %></td>
            <td><%= link_to subscription.url, subscription.url if subscription.url %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @subscriptions %>
  </section>
</section>

<%= render 'users/sidebar' %>