<aside>
  <h3>Quick Stats</h3>
  <ul class="group lst">
    <li><a href="<%= sites_path %>"><em><%= Site.count %></em>Sites</a></li>
    <li><a href="<%= tools_path %>"><em><%= Tool.count %></em>Tools</a></li>
    <li><a href="<%= tools_path(:category => "programming-langauge" ) %>"><em><%= Tool.languages.count %></em> Programming Languages</a></li>
    <li><a href="<%= edit_user_registration_path %>"><em><%= User.count %></em> Registered Users</a></li>
  </ul>
</aside>