<% title "Category - #{@category.name}" %>

<section id="content" class="main">
  <div class="title_bar group">
    <div class="title_header">
      <h2><%= @title %></h2>
      <div id="sorting">
        <p>Sorting by <%= sorting_name(params[:sort]) %> <a href="#" class="change_sorting"></a></p>
        <ul class="options" style="display:none;">
          <li><a href="<%= category_path(@category, :sort => :sites_desc) %>">Sort by Sites Using</a></li>
          <li><a href="<%= category_path(@category, :sort => :toolname_asc) %>">Sort by Tool Name</a></li>
        </ul>
      </div>
      <div class="group clear">
        <p class="category-description"><%= @category.description %></p>
      </div>
    </div>
  </div>
  <section>
    <ul class="tools">
      <%= render @tools %>
    </ul>
    <%= will_paginate @tools %>
  </section>
</section>

<sidebar>
  <% cache("categories-sidebar") do %>
  <aside>
    <h3>Categories</h3>
    <ul class="lst">
      <%= render :partial => "categories/category_small", :collection => @categories %>
    </ul>
  </aside>
  <% end %>
</sidebar>