<%= semantic_form_for Using.new, :as => 'using', :url => tool_sites_path(@tool), :remote => true, :html => { :id => "new_using", :name => "new_using" } do |form| %>
  <%= form.inputs do %>
    <%= form.input :site_id, :as => :hidden %>
    <%= form.input :site_title, 
          :label => "Site Title", 
          :wrapper_html => { :class => "site_title_autocomplete" },
          :input_html => {
            :placeholder => "Start typing the title of a site... If it doesn't exist we'll add it.", 
            :class => "autocomplete-sitetitle" } %>
    <%= form.input :site_url, :label => "Site URL", :required => false, :input_html => { :placeholder => "If adding a new site, you must add a URL and title for it." } %>
    <%= form.input :description, :label => "How is this site using this tool?", :as => :text, :required => false, :input_html => { :rows => 3 } %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => { :value => "add this site", :class => "right grey button", :id => "add_site_submit" } %>
    <li id="lookup_loading" class="response right loading-indicator"> <img src="/images/indicator.gif"/></li>
    <%= form.commit_button :button_html => { :value => "hide form", :class => "left add_another_site button small grey" } %>
    <%= form.commit_button :button_html => { :type => "reset", :id => "reset_button", :value => "reset", :class => "left button small grey" } %>
  <% end %>
<% end %>
  

<% javascript do %>
$(function() {  
  using_site_autocomplete("/tools/<%=@tool.cached_slug%>/sites/autocomplete", "#using");
  edit_in_place();
  $("#new_using").live('submit', function() {
    $(this).addClass("loading");
  });
});
<% end %>