<li class="edit-in-place group ind using" id="using_<%= using.id %>" data-id="<%= using.id %>">
  <h4><%= link_to using.site.title, site_path(using.site, :format => params[:format]) %></h4>
  <% if current_user.claimed_tool?(@tool) || using.user_id == current_user.id || current_user.admin? %>
    <ul class="actions">
      <li><%= link_to "edit", "#", :class => "edit-in-place-edit" %></li>
      <li class="edit-in-place-cancel"><%= link_to "cancel", "#" %></li>
      <li><%= link_to "remove", using_path(using), :remote => true, :method => :delete %></li>
    </ul>
  <% end %>

  <%= semantic_form_for using, :remote => true, :method => :put, :html => { :id => "edit_using_#{using.id}" } do |form| %>
    <%= form.inputs do %>
      <li class="countdown"><span>140</span></li>
      <%= form.input :description, :label => "How is this tool being used?", :as => :text, :required => false, :input_html => { :rows => 1, :class => "using_description" } %>
      <%= form.commit_button :button_html => { :value => "submit", :class => "right" } %>
      <a href="#" class="edit-in-place-cancel">cancel editing</a>
    <% end %>
  <% end %>

  <div class="edit-in-place-show">
    <% if using.description.blank? %>
      <p><em>No description on file.</em></p>
    <% else %>
      <p><%= using.description %></p>
    <% end %>
  </div>
</li>