<sidebar>
  <%= render :partial => "bookmarks/related", :object => @site.cached_bookmarks if (@site.bookmarks.size > 0) && @site.cached_bookmarks && @site.cached_bookmarks.length > 0 %>
  <%= render :partial => "sites/similar", :object => @similar_sites if @similar_sites %>  
  <%= render :partial => "sites/featured" %>
  <% if logged_in? %>
  <aside>
    <h3>Add an Bookmark</h3>
    <p>Know of a blog post or video about <%= @site.title %>?</p>
    <p><%= link_to "Add an Bookmark about #{@site.title}", new_bookmark_path %></p>
  </aside>
  <% end %>
</sidebar>