<% title "Tools used by #{@site.title}" %>
<section id="content" class="main site">
  <%= render 'sites/header' %>
  <%= render 'sites/nav' %>

  <section class="tab">
    <% if @site.tools_count > 0 %>
    <div class="title_bar group">
      <% description "We know of #{pluralize(@site.tools_count, "tool")} used #{@site.title} (#{@site.url})." %>
      <h3>We know of <strong><%= pluralize(@site.tools_count, "tool") %></strong> used on <strong><%= @site.title %></strong></h3>
      <div id="sorting">
        <p>Sorting by <%= sorting_name(params[:sort]) %> <a href="#" class="change_sorting"></a></p>
        <ul class="options" style="display:none;">
          <li><a href="<%= site_path(@site, :sort => :toolname_asc) %>">Sort by tool</a></li>
          <li><a href="<%= site_path(@site, :sort => :sites_desc) %>">Sort by tool popularity</a></li>
        </ul>
      </div>
    </div>
    <ul id="site-tools-list" class="sublist usings sites <%= sorting_class(params[:sort]) %>">
      <%= render :partial => 'usings/using_tool', :collection => @usings %>
    </ul>
    <% else %>
      <p class="main_message">We don't know of any tools used by <strong><%= @site.title %></strong>.</p>
    <% end %>
  </section>
</section>