<section class="sidebar">
  <aside>
    <h3>Your Permissions</h3>
      <% if logged_in? %>
        <ul class="lst">
        <% if current_user.can_edit_site?(@site) %>
          <li><%= link_to "Edit this site", edit_site_path(@site) %></li>
          <li><a href="#add_new_tool" class="add_another_tool">Add another tool</a></li>
          <li><%= link_to "Undelete tools", deleted_site_tools_path(@site) %></li>
        <% elsif !@site.locked? %>
          <li><a href="#add_new_tool" class="add_another_tool">Add another tool</a></li>
        <% elsif @site.locked? %>
          <li>This site is locked by a site owner. Your permissions are limited.</li>
        <% end %>
        <li><%= link_to "Add a Site", new_site_path %></li>        
          <% if !current_user.can_edit_site?(@site) %>
            <li><%= link_to "Claim to enable more permissions", new_site_claim_path(@site) %></li>
          <% end %>
          <% if current_user.can_destroy_site?(@site) %>
            <li><%= link_to "Delete this site", site_path(@site), :method => :delete, :confirm => "Are you sure you want to delete this site?" %></li>
          <% end %>
        <li>
        </ul>
      <% else %>
      <ul class="txt">
        <% if can_edit_site?(@site) %>
          <li><%= link_to "Edit this site", edit_site_path(@site) %></li>
        <% end %>
        <% if can_add_lines?(@site) %>
          <li><a href="#add_new_tool" class="add_another_tool">Add another tool used on this site</a></li>
        <% end %>
        <li><%= link_to "Add a new Site", new_site_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to claim this site.</li>
      </ul>
      <% end %>
  </aside>
  
  <% if @site.tools_count > 0 %>
  <aside>
    <h3>Share this Site</h3>
    <ul class="txt">      
      <li>Share on Twitter
        <div class="right">
          <iframe allowtransparency="true" frameborder="0" scrolling="no"
                  src="http://platform.twitter.com/widgets/tweet_button.html?text=<%= site_share_message(@site) %>"
                  style="width:110px; height:20px;"></iframe>
        </div>
      </li>
      <li>Like on Facebook
        <div class="right">
        <iframe src="http://www.facebook.com/plugins/like.php?href=<%=site_url(@site) %>&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:104px; height:21px;" allowTransparency="true"></iframe>
        </div>
      </li>
      <li><a href="http://www.facebook.com/sharer.php?u=<%=site_url(@site) %>&amp;t=<%= site_share_message(@site) %>" target="_blank"><img src="https://d1mr7he6yibwdu.cloudfront.net/favicons/com.facebook/com.facebook.small.png" class="favicon">Share on Facebook</a></li>
    </ul>
  </aside>
  <% end %>

  <%= render :partial => "sites/similar", :object => @similar_sites if @similar_sites %>  
  <%= render :partial => "sites/featured" %>
  <% if logged_in? %>
  <aside>
    <h3>Contribute to Line of Thought</h3>
    <ul class="lst">
      <li><%= link_to "Add any site", new_site_path %></li>
      <li><%= link_to "Add a new Tool", new_tool_path %></li>
    </ul>
  </aside>
  <% end %>
  <%= render :partial => "tools/featured" %>
</section>