<% cache(["partial", site], :expires_in => 15.minutes) do %>
<li class="site group ind">
  <div class="details">
    <div class="title">
      <h4><% if site.has_favicon? %><a href="<%= site_path(site) %>" class="favicon"><img src="<%= site.full_favicon_url %>" /></a><% end %><%= link_to site.title, site_path(site) %></h4>
      <ul class="count">
        <li class="alexa"><span><em><%= number_with_delimiter(site.alexa_global_rank) %></em>Alexa</span></li>
        <li class="pagerank pagerank-<%= site.google_pagerank %>"><span><em><%= site.google_pagerank %></em>Pagerank</span></li>
      </ul>
      <p clas="description"><%= truncate(site.description, :length => 140) %></p>

      <% if site.tools_count > 0 %>
        <ul class="mini-tools">
          <%= raw site_tools(site) %>
          <% if site.tools_count > 2 %>
            <li><%= link_to "#{pluralize(site.tools_count-2, 'more tool')}", site %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</li>
<% end %>