<% cache(["partial", site], :expires_in => 15.minutes) do %>
<li class="site group ind">
  <a href="<%= site_path(site)%>" class="screenshot"><img src="http://localhost:3000/images/screenshot.png" /></a>
  <div class="details">
    <div class="title">
      <h4><%= link_to site.title, site_path(site) %></h4>
      <ul class="count">
        <%= raw global_alexa_rank(site.alexa_global_rank) %>
        <%= raw google_pagerank(site.google_pagerank) %>
      </ul>
      <p clas="description"><%= truncate(site.description, :length => 140) %></p>

      <% if site.tools_count > 0 %>
        <ul class="tools">
          <%= raw site_tools(site) %>
          <% if site.tools_count > 2 %>
            <li><%= link_to "#{pluralize(site.tools_count-2, 'more tool')}", site %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</li>
<% end %>