<% title "List of Sites" %>

<section id="content" class="main">
  <div class="title_bar group">
    <h2><%= @title %></h2>
    <div id="sorting">
      <p>Sorting by <%= sorting_name(params[:sort]) %> <a href="#" class="change_sorting"></a></p>
      <ul class="options" style="display:none;">
        <li><%= link_to "Sort by Alexa Rank", sites_path(:sort => :alexa_asc, :search => params[:search]) %></li>
        <li><%= link_to "Sort by Google PageRank", sites_path(:sort => :google_desc, :search => params[:search]) %></li>
        <li><%= link_to "Sort by Site Name", sites_path(:sort => :sitename_asc, :search => params[:search]) %></li>
        <li><%= link_to "Sort by Number of Tools", sites_path(:sort => :tools_desc, :search => params[:search]) %></li>
        <li><%= link_to "Sort by date", sites_path(:sort => :created_desc, :search => params[:search]) %></li>
      </ul>
    </div>
  </div>
  <section>
    <% if @hits.empty? %>
      <p>There were no matching sites for your search.</p>
    <% else %>
      <ul id="sites-list" class="sites main-list">
        <%= render @sites %>
      </ul>
      <%= will_paginate @hits %>
    <% end %>
  </section>
</section>

<section class="sidebar">
  <% if Settings.use_solr %>
    <aside class="search">
      <form action="<%= sites_path %>" method="get">
        <input type="text" name="search" value="<%= params[:search] %>" placeholder="Search for a site..." />
        <input type="submit" value="Search" class="small button grey" />
      </form>
    </aside>
  <% end %>
  <aside>
    <h3>Add a Site</h3>
    <p class="center">You can add your site before creating an account.</p>
    <p class="center"><%= link_to "Add a new site", new_site_path, :class => "button green" %></p>
  </aside>
  
  <%= render :partial => "sites/featured" %>
</section>