<% title "List of Sites" %>

<section id="content" class="main">
  <div class="title_bar group">
    <h2><%= @title %></h2>
    <div id="sorting">
      <p>Sorting by <%= sorting_name(params[:sort]) %> <a href="#" class="change_sorting"></a></p>
      <ul class="options" style="display:none;">
        <li><%= link_to "Sort by Alexa Rank", sites_path(:sort => :alexa_asc, :search => params[:search]) %></li>
        <li><%= link_to "Sort by Google PageRank", sites_path(:sort => :google_desc, :search => params[:search]) %></li>
        <li><%= link_to "Sort by Site Name", sites_path(:sort => :sitename_asc, :search => params[:search]) %></li>
        <li><%= link_to "Sort by Number of Tools", sites_path(:sort => :tools_desc, :search => params[:search]) %></li>
        <li><%= link_to "Sort by date", sites_path(:sort => :created_desc, :search => params[:search]) %></li>
      </ul>
    </div>
  </div>
  <section>
    <% if @hits.empty? %>
      <p>There were no matching sites for your search.</p>
    <% else %>
      <ul id="sites-list" class="sites main-list">
        <%= render @sites %>
      </ul>
      <%= will_paginate @hits %>
    <% end %>
  </section>
</section>

<sidebar>
  <aside class="search">
    <form action="<%= sites_path %>" method="get">
      <input type="text" name="search" value="<%= params[:search] %>" placeholder="Search for a site..." />
      <input type="submit" value="Search" />
    </form>
  </aside>
  <aside>
    <h3>Add a Site</h3>
    <% if logged_in? %>
      <p>Want to add your own site?<br/><%= link_to "Add a Site", new_site_path %></p>
      <p>Add a site from anywhere using this bookmarklet. Drag this to your bookmarks bar.
        <br/>
        <%= link_to "Add Site to LoT", "javascript:(function(){f='#{new_site_url(:format => "popup")}?site[url]='+encodeURIComponent(window.location.href)+'&site[title]='+encodeURIComponent(document.title);a=function(){if(!window.open(f,'lineofthought-new','location=yes,links=no,scrollbars=yes,toolbar=no,width=700,height=650'))location.href=f};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()" %>
      </p>
    <% else %>
      <p>Logged in users can add their own sites to LineOfThought, or manage the tools used on existing sites.</p>
      <p><%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to get started.</p>
    <% end %>
  </aside>
  
  <%= render :partial => "sites/featured" %>
</sidebar>