<% title "List of Sites" %>

<section id="content" class="main">
  <div class="title_bar group">
    <h2><%= @title %></h2>
    <div id="sorting">
      <p>Sorting by <%= sorting_name(params[:sort]) %> <a href="#" class="change_sorting"></a></p>
      <ul class="options" style="display:none;">
        <li><%= link_to "Sort by Alexa Rank", sites_path(:sort => :alexa_asc) %></li>
        <li><%= link_to "Sort by Google PageRank", sites_path(:sort => :google_desc) %></li>
        <li><%= link_to "Sort by Site Name", sites_path(:sort => :sitename_asc) %></li>
        <li><%= link_to "Sort by Number of Tools", sites_path(:sort => :tools_desc) %></li>
      </ul>
    </div>
  </div>
  <section>
    <ul class="sites">
      <%= render @sites %>
    </ul>
    <%= will_paginate @sites %>
  </section>
</section>

<sidebar>
  <aside>
    <ul>
      <li><%= link_to "New Site", new_site_path %></li>
      <li><%= link_to "Add Site to LoT", "javascript:(function(){f='#{new_site_url(:format => "popup")}?site[url]='+encodeURIComponent(window.location.href)+'&site[title]='+encodeURIComponent(document.title);a=function(){if(!window.open(f,'lineofthought-new','location=yes,links=no,scrollbars=no,toolbar=no,width=700,height=650'))location.href=f};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()" %></li>
    </ul>
  </aside>
</sidebar>