<% title "Add a Site to Line of Thought" %>

<section id="content" class="main">
  <article>
    <h2><%= @title %></h2>
    <p>You can enter any URL here. We'll use the domain (or domain + subdomain) to identify your site. You can't add individual pages on a site, just the root site itself.</p>
  </article>
  <section>
    <div id="site_error" class="error response" style="display:none;">
      <p>Unable to lookup this URL</p>
    </div>

    <%= semantic_form_for @site, :html => { :id => "new_site", :remote => true } do |f| %>
      <%= f.inputs do %>
        <%= f.input :url, :as => :string, :required => true, :label => "Site URL", :hint => "Root site URL. Don't add multiple URLs within the same domain." %>
        <%= f.commit_button :label => "Add this Site", :wrapper_html => { :id => "submit_lookup", :class => "right" }, :button_html => { :class => "button grey" } %>
        <li id="lookup_loading" class="response right" style="display:none;margin:0 10px;"> <img src="/images/indicator.gif"/></li>
        <%= f.commit_button :label => "Cancel", :id => "lookup_cancel", :wrapper_html => { :style => "display:none;", :id => "cancel_lookup", :class => "response right" }, :button_html => { :class => "button grey small" } %>
      <% end %>
    <% end %>
    
    <div id="existing_site" class="response" style="display:none;">
      <h3>Matching Site</h3>
      <p>Logged in users can add tools to existing sites. New users can only add tools to sites they have added during their visit.</p>
      <% if !logged_in? %><p>Want to add some tools to this site? Please <%= link_to "sign in",  new_user_session_url(:secure => Settings.force_ssl) %> first.</p><% end %>
      <ul id="sites-list" class="sites main-list"></ul>
    </div>
  </section>
</section>

<section class="sidebar">
  <aside>
    <p>After adding this site, you'll be able to edit it and add tools to it.</p>
  </aside>
  <% cache("recent_sites", :expires_in => 15.minutes) do %>
  <aside>
    <h3>Recently Added Sites</h3>
    <ul class="lst">
      <% Site.recent.limit(5).each do |site| %>
        <li><%= link_to site.title, site_path(site, :format => params[:format]) %></li>
      <% end %>
    </ul>
  </aside>
  <% end %>
</section>

<% javascript do %>
var checkForLookup = false
$(function() {
  $("#new_site").submit(function() {
    if(!checkForLookup) {
      $("#submit_lookup input").attr("disabled", "disabled");
      $("#cancel_lookup").show();
      $("#lookup_loading").show();
      checkForLookup = setInterval("resubmit_lookup()", 6000);
    }
  });
  
  $("#cancel_lookup input").click(function(e) {
    cancel_lookup();
    e.preventDefault();
    return false;
  });
})

function resubmit_lookup() {
  $("#new_site").submit();
}

function cancel_lookup() {
  clearInterval(checkForLookup);
  checkForLookup = false;
  $(".response").hide();
  $("#submit_lookup input").removeAttr("disabled");
}

function site_error() {
  cancel_lookup();
  $("#site_error").show();
}
<% end %>
