<% title "Add a Site to Line Of Thought" %>

<section id="content" class="main">
  <article>
    <h2><%= @title %></h2>
    <p>All sites in our system need a unique URL associated with them. It's possible to add multiple sites on the same domain if they are on different subdomains, otherwise they should all be under the same root domain listing.</p>
    <p>For instance, if you try to add a Twitter handle, like <a href="http://twitter.com/lineof">http://twitter.com/lineof</a>, we'll actually add the root site, <a href="http://twitter.com">http://twitter.com</a>. <strong>Sites must be root domains or subdomains.</strong></p>
  </article>
  <section>
    <%= semantic_form_for @site, :html => { :id => "new_site", :remote => true } do |f| %>
      <%= f.inputs do %>
        <%= f.input :url, :as => :string, :required => true, :label => "Site URL", :hint => "Root site URL. Don't add multiple URLs within the same domain." %>
      <% end %>
      <%= f.buttons do %>
      <li id="lookup_loading" class="response" style="display:none;"> <img src="/images/indicator.gif"/>We're looking up this site, just a sec.</li>
        <%= f.commit_button :label => "Add URL", :wrapper_html => { :id => "submit_lookup" } %>
        <%= f.commit_button :label => "Cancel", :id => "lookup_cancel", :wrapper_html => { :style => "display:none;", :id => "cancel_lookup", :class => "response" } %>
      <% end %>
    <% end %>
    
    <div id="site_error" class="error response" style="display:none;">
      <p>Unable to lookup this URL</p>
    </div>
    <div id="existing_site" class="response" style="display:none;">
      <h3>Matching Site</h3>
      <ul id="sites-list" class="sites main-list"></ul>
    </div>
  </section>
</section>

<% cache("recent_sites", :expires_in => 15.minutes) do %>
<sidebar>
  <aside>
    <h3>Recently Added Sites</h3>
    <ul class="lst">
      <% Site.recent.limit(5).each do |site| %>
        <li><%= link_to site.title, site_path(site, :format => params[:format]) %></li>
      <% end %>
    </ul>
  </aside>
</sidebar>
<% end %>

<% javascript do %>
var checkForLookup = false
$(function() {
  $("#new_site").submit(function() {
    if(!checkForLookup) {
      $("#submit_lookup input").attr("disabled", "disabled");
      $("#cancel_lookup").show();
      $("#lookup_loading").show();
      checkForLookup = setInterval("resubmit_lookup()", 6000);
    }
  });
  
  $("#cancel_lookup input").click(function(e) {
    cancel_lookup();
    e.preventDefault();
    return false;
  });
})

function resubmit_lookup() {
  $("#new_site").submit();
}

function cancel_lookup() {
  clearInterval(checkForLookup);
  checkForLookup = false;
  $(".response").hide();
  $("#submit_lookup input").removeAttr("disabled");
}

function site_error() {
  cancel_lookup();
  $("#site_error").show();
}
<% end %>
