<% title "Tools used by #{@site.title}" %>
<section id="content" class="main site">
  <% cache(["full", @site]) do %>
    <%= render 'header' %>
  <% end %>
  
  <ul class="tabs">
    <li class="current"><a href="#" class="sites">Sites</a></li> 
    <li><a href="#" class="articles">Articles</a></li> 
    <li><a href="#" class="jobs">Jobs</a></li>
  </ul>


  <section class="tab">
    <% if @site.tools_count > 0 %>
    <div class="title_bar group">
      <h3>We know of <strong><%= pluralize(@site.tools_count, "tool") %></strong> used on <strong><%= @site.title %></strong></h3>
    </div>
    <ul class="usings sites">
      <%= render :partial => 'usings/using_tool', :collection => @usings %>
    </ul>
    <% else %>
      <p>We don't know of any tools that <%= @site.title %> is using.</p>
    <% end %>
  </section>
</section>

<sidebar>
  <aside>
    <h3>Sites Using Similar Tools</h3>
    <ul class="lst">
      <% @site.similar_sites.each do |site| %>
        <li><a href="<%= site_path(site) %>"><%= site.title %></a></li>
      <% end %>
    </ul>
  </aside>
  <% if @recommended_tools.length > 0 %>
  <aside>
    <h3>Recommended Tools</h3>
    <ul class="lst">
      <% @recommended_tools.each do |tool| %>
        <li><a href="<%= tool_path(tool) %>"><em><%= tool.cached_categories.first[:name] unless tool.cached_categories.empty? %></em><%= tool.name %></a></li>
      <% end %>
    </ul>
  </aside>
  <% end %>
  <aside class="admin">
    <h3>Admin Options</h3>
    <ul class="lst">
      <li><%= link_to "Edit this Site", edit_site_path(@site) %></li>
      <li><%= link_to "Remove this Site", site_path(@site, :method => :delete) %></li>
      <li><%= link_to "Manage Tools for this Site", edit_site_tools_path(@site) %></li>
    </ul>
  </aside>
</sidebar>