<% title "Tools used by #{@site.title}" %>
<section id="content" class="main site">
  <% cache(["full", @site]) do %>
    <%= render 'header' %>
  <% end %>
  
  <ul class="tabs">
    <li class="current"><a href="#" class="sites">Tools</a></li> 
    <% if @site.articles_count > 0 %>
      <li><a href="<%= articles_site_path(@site)%>" class="articles">Articles</a></li> 
    <% end %>
    <% if @site.jobs_count > 0 %>
      <li><a href="#" class="jobs">Jobs</a></li>
    <% end %>
  </ul>

  <section class="tab">
    <% if @site.tools_count > 0 %>
    <div class="title_bar group">
      <h3>We know of <strong><%= pluralize(@site.tools_count, "tool") %></strong> used on <strong><%= @site.title %></strong></h3>
    </div>
    <ul class="usings sites">
      <%= render :partial => 'usings/using_tool', :collection => @usings %>
    </ul>
    <% else %>
      <p>We don't know of any tools that <%= @site.title %> is using.</p>
    <% end %>
  </section>
</section>

<sidebar>
  <aside class="admin">
    <h3>Admin Options</h3>
    <ul class="lst">
      <li><%= link_to "Edit this Site", edit_site_path(@site) %></li>
      <li><%= link_to "Remove this Site", @site, :method => :delete, :confirmation => "Are you sure you want to delete this site." %></li>
      <li><%= link_to "Manage Tools for this Site", edit_site_tools_path(@site) %></li>
    </ul>
  </aside>
</sidebar>