<% title "Tools used by #{@site.title}" %>
<section id="content" class="main site">
  <% cache(["full", @site]) do %>
    <%= render 'header' %>
  <% end %>
  
  <ul class="tabs">
    <%= menu_link "Sites", site_path(@site), { :a_class => 'sites' } %>
    <%= menu_link "Articles", "#", { :a_class => 'articles' } if @site.articles_count > 0 %>
    <%= menu_link "Jobs", "#", { :a_class => 'jobs' } if @site.jobs_count > 0 %>
  </ul>


  <section class="tab">
    <% if @site.tools_count > 0 %>
    <div class="title_bar group">
      <h3>We know of <strong><%= pluralize(@site.tools_count, "tool") %></strong> used on <strong><%= @site.title %></strong></h3>
    </div>
    <ul class="usings sites">
      <%= render :partial => 'usings/using_tool', :collection => @site.usings.by_sites_count %>
    </ul>
    <% else %>
      <p>We don't know of any tools that <%= @site.title %> is using.</p>
    <% end %>
  </section>
</section>

<sidebar>
  <aside>
    <h3>Similar Sites</h3>
    <ul class="lst">
      <li><a href="#"><em>Javascript</em>Prototype</a></li>
      <li><a href="#"><em>Javascript</em>MooTools</a></li>
      <li><a href="#"><em>Javascript</em>YUI</a></li>
    </ul>
  </aside>
  <aside class="admin">
    <h3>Admin Options</h3>
    <ul class="lst">
      <li><%= link_to "Edit this Site", edit_site_path(@site) %></li>
      <li><%= link_to "Remove this Site", site_path(@site, :method => :delete) %></li>
      <li><%= link_to "Manage Tools for this Site", edit_site_tools_path(@site) %></li>
    </ul>
  </aside>
</sidebar>