<!DOCTYPE html>
<html>
<head>
  <title>SitesUsing - Find out what powers the web!</title>
  <%- title = yield(:title) %>
  <title><%=  title || "SitesUsing - Find what technologies other sites are using" %><%= " - SitesUsing" if title %></title>
  <%= raw stylesheet_link_merged :base %>
  <%= raw javascript_include_merged :base %>
  <%= csrf_meta_tag %>
</head>
<body>  
<header class="group">
  <div class="container">
    <hgroup id="title">
      <p><a href="/beta">Sites<span>Using</span></a></p>
      <span>Tracking what the web uses!</span>
    </hgroup>
    <nav id="nav">
      <ul>
        <li><a href="<%= tools_path %>"><strong>Tools</strong></a></li>
        <li><a href="<%= sites_path %>"><strong>Sites</strong></a></li>
        <li><a href="#"><strong>Jobs</strong></a></li>
      </ul>
    </nav>
  </div>
  <div id="subnav" class="group">
    <div class="container">
      <p class="feature"><a href="#">Twitter</a> uses <a href="#">Cassandra</a>, <a href="#">Ruby on Rails</a>, <a href="#">Flock</a> and 23 other tools.</p>
      <form>
        <label for="s">Search for a website or tool...</label>
        <input type="text" id="s">
        <input type="submit" value="Go" />
      </form>
    </div>
  </div>
</header>
  
<div id="main">
  <div class="container group">
    <%- flash.each do |key, msg| -%>
      <%= content_tag :div, msg, :class => key %>
    <%- end -%>
    <%= yield %>
  </div>
</div>

<footer>
  <div class="container">
    <section class="sidebar_nav">&nbsp;</section>
    <section class="main-footer">
      <h3>Copyright &copy; 2010 SitesUsing. Development by <a href="http://adamfortuna.com">Adam Fortuna</a>.</h3>
    </section>
    <section class="sidebar">
      <h3>Quick Nav</h3>
      <ul>
        <li><a href="/about">About SitesUsing</a></li>
        <li><a href="/sites/sitesusing">Tools We Use</a></li>
        <li><a href="http://blog.sitesusing.com">Blog</a></li>
      </ul>
    </section>
  </div>
</footer>
</body>
</html>