<!DOCTYPE html>
<html>
<head>
  <title>SitesUsing - Find out what powers the web!</title>
  <%- title = yield(:title) %>
  <title><%=  title || "SitesUsing - Find what technologies other sites are using" %><%= " - SitesUsing" if title %></title>
  <%= raw stylesheet_link_merged :base %>
  <%= raw javascript_include_merged :base %>
  <%= csrf_meta_tag %>
</head>
<body>  
<header class="group">
  <div class="container">
    <div id="title">
      <a href="/beta">
        Sites<em>Using</em>
        <em class="tagline">Tracking what the web uses.</em>
      </a>
    </div>
    <nav id="nav">
      <ul>
        <li><a href="<%= tools_path %>"><strong>Tools <em>Ruby, MongoDB</em></strong></a></li>
        <li><a href="<%= sites_path %>"><strong>Sites <em>Twitter, FourSquare</em></strong></a></li>
        <li class="last"><a href="#"><strong>Jobs <em>234 Available</em></strong></a></li>
      </ul>
    </nav>
  </div>
  <div id="subnav" class="group">
    <div class="container">
      <p class="feature"><a href="#">Twitter</a> uses <a href="#">Cassandra</a>, <a href="#">Ruby on Rails</a>, <a href="#">Flock</a> and 23 other tools.</p>
      <form>
        <label for="s">Search for a website or tool...</label>
        <input type="text" id="s">
        <input type="submit" value="Go" />
      </form>
    </div>
  </div>
</header>
  
<div id="main">
  <div class="container group">
    <%- flash.each do |key, msg| -%>
      <%= content_tag :div, msg, :class => key %>
    <%- end -%>
    <%= yield %>
  </div>
</div>

<footer>
  <div class="container">
    <ul class="links">
      <li><a href="<%= beta_path %>">Home</a></li>
      <li><a href="<%= about_path %>">About</a></li>
      <li><a href="<%= tools_path %>">Tools</a></li>
      <li><a href="<%= sites_path %>">Sites</a></li>
    </ul>
    <p>To get started, just <a href="<%= root_path %>">browse around</a>, <a href="<%= new_site_path %>">add a site</a> or <a href="<%= new_tool_path %>">add a tool</a>.</p>
    <p>SitesUsing &copy; 2011.</p>
  </div>
</footer>
</body>
</html>